@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");

:root {
	/* primary */
	--pink: hsl(322, 100%, 66%);
	/* neutral */
	--darkCyan: hsl(192, 100%, 9%);
	--paleBlue: hsl(207, 100%, 98%);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	margin: 0;
}

h1,
h2,
h3 {
	font-family: "Poppins", sans-serif;
}

img {
	max-width: 100%;
}

.btn {
	border-radius: 50px;
	border: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
	color: white;
	background-color: var(--pink);
	padding: 20px 85px;
	margin: 15px 0;
	font-weight: 700;
}

.btn-secondary {
	color: var(--pink);
	border: 1px solid var(--pink);
	padding: 4px 30px;
}

.container {
	padding: 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

.bg-light {
	background-color: var(--paleBlue);
	background-image: url("./images/bg-section-top-desktop-1.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
}

nav {
	display: flex;
	margin: 30px auto;
	justify-content: space-between;
}

.hero {
	width: 825px;
	max-width: 100%;
	margin: 100px auto;
	text-align: center;
	color: var(--darkCyan);
}

.hero p {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	opacity: 0.8;
	padding-bottom: 10px;
	line-height: 1.5;
}

.screen-mockup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-around;
	margin: 50px auto;
}

.text-large {
	font-size: 5rem;
	color: var(--darkCyan);
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.text-small {
	text-align: center;
	opacity: 0.7;
}

.box {
	justify-content: center;
	align-items: center;
}

.box h3 {
	font-size: 34px;
	color: var(--darkCyan);
}

.box p {
	font-size: 16px;
	color: var(--darkCyan);
	width: 80%;
	max-width: 100%;
	line-height: 1.5;
}

.box-right {
	margin-left: 50px;
	width: 100%;
}

.cta {
	text-align: center;
	margin: 30px auto;
}

.cta h2 {
	font-size: 2rem;
	color: var(--darkCyan);
	letter-spacing: 0.75px;
}

footer {
	background-color: var(--darkCyan);
	color: white;
}

/* footer attribute styles */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
